.contact_form {
  border: solid black 5px;
  display: block;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  padding: .5rem;
  border-radius: 1rem;
  min-width: 30%;
  overflow: hidden;
  box-shadow: 12px 16px 5px 0px rgba(0,0,0,0.56);
-webkit-box-shadow: 12px 16px 5px 0px rgba(0,0,0,0.56);
-moz-box-shadow: 12px 16px 5px 0px rgba(0,0,0,0.56);
}

.form_btn {
  width: 30%;
  margin: 0 auto;
  margin-top: .5rem;
  border-radius: .5rem;
  padding: .125rem;
  background-color: #b3afaf;
  font-weight: bold;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.form_label {
  margin-bottom: .25rem;
  margin-right: .5rem;
}

.form_input {
  margin-left: .5rem;
  border-radius: .5rem;
  padding: .25rem;
}
