.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.card {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  line-height: 0;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid rgb(128, 132, 133) 3px;
  padding: 1rem 0.5rem;
}

.contact_img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.btn_containers {
  display: flex;
  gap: 5px;
}

.form_editing {
  border: solid black 5px;
  display: block;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 1rem;
  min-width: 30%;
}

.edit_btn {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.125rem;
  background-color: #b3afaf;
  font-weight: bold;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.delete_btn {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.125rem;
  background-color: #b3afaf;
  font-weight: bold;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  &:hover {
    color: white;
    background-color: rgb(235, 75, 75);
  }
}
